@tailwind base;
@tailwind components;
@import 'typeface-inconsolata';
html {
  overflow-y: overlay;
  cursor: default;
  height: 100%;
}

body {
  font-family: 'Inconsolata', monospace;
  height: 100%;
}

.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #ffffff08 0.5px, transparent 1px),
    linear-gradient(to bottom, #ffffff08 0.5px, transparent 1px);
}

.grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.stroke {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text-shadow {
  text-shadow: 5px 1px 10px #00000005;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
}

/* styles/globals.css */
/* body {
  background-color: #1a1a2e;
  background-image: linear-gradient(rgba(0, 150, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 150, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
} */



@tailwind utilities;
